.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
 /* background-color: #77C655;*/
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.accounts {
  color: #000;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  right: 40px;
  top: 40%;
  background: #ebebebf2;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: #fff;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #77C655 30%, #147eac 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #b738b9, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.connect-wallet-button img{
   display:none;
}

.connect-wallet-button img.minting{
   display:inline-block;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.nft-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top:30px;
  
}
.nft-card-item img {
  border-radius: 5px;
}
.nft-card-container>div {
  
  width: 250px;
  margin: 5px;
  flex: 0 1 25%;
  text-align: center;
  line-height: 75px;
}

@media (max-width: 800px) {
   .nft-card-container>div {
    max-width: 75%;
    flex: 0 1 30%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .nft-card-container>div {
       max-width: 80%;
       flex: 0 1 80%;
    }
}
.nft-card-item- {
padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  }
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

a.minted {
  padding-top: 10px;
    text-decoration: none;
    background-color: #a200d6;
    padding-bottom: 10px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
